// colors
$main-text-color: #212121;
$other-text-color: #757575;
$title-text-color: #ffffff;
$hover-text-color: #2196f3;
$span-color: #000;

// background-colors
$hover-background-color: #2196f3;
$modal-background-color: #ffffff;
$button-background-color: #2196f3;
$hero-background-color: rgba(47, 48, 58, 0.8);
$benefits-background-color: #f5f4fa;
$footer-background-color: #2f303a;
